.navbar-container {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100;
    top: 5vh;
    right: 10vh;
    /* background-color: rgb(100, 255, 178); */
}

.navbar-list {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navbar-list li {
    padding: 10px 20px;
}

.navbar-list a {
    position: relative;
    text-decoration: none;
    color: rgb(112, 118, 133);
    font-size: 15px;;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}

.navbar-list a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.navbar-list a:hover:after {
    width: 100%;
}

.navbar-list a:hover {
    color: white;
}