* {
  box-sizing: border-box;
  font-family: 'Michroma', sans-serif;
  overflow-y: hidden;
  margin: 0;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one {
  background-color: rgb(30, 30, 32);
}

.two {
  background-color: rgb(127, 236, 255);
}

.three {
  background-color: rgb(127, 161, 255);
}

.four {
  background-color: rgb(193, 127, 255);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.r-t-l {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  overflow: hidden;
  color: white;
}

p {
  font-size: 19px;
  padding: 0 400px;
  white-space: nowrap;
  animation: move-rtl 5s linear infinite;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}