* {
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
  overflow-y: hidden;
  margin: 0;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one {
  background-color: rgb(35, 20, 77);
}

.two {
  background-color: rgb(127, 236, 255);
}

.three {
  background-color: rgb(127, 161, 255);
}

.four {
  background-color: rgb(193, 127, 255);
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}